body {
	background:	white;
	color:		black;
	font-family:	arial;
	font-weight:	medium;
	font-size:	10pt;
}

.heading {
	color:		black;
	font-family:	arial;
	font-weight:	bold;
	font-size:	14pt;
}

.subject {
	color:		black;
	font-family:	arial;
	font-weight:	bold;
	font-size:	12pt;
}

a {
	color:		blue;
	font-family:	arial;
	font-weight:	medium;
	font-size:	10pt;
}

input {
	color:		black;
	font-family:	courier;
	font-weight:	medium;
	font-size:	10pt;
}

.login {
	color:		black;
	font-family:	arial;
	font-weight:	medium;
	font-size:	10pt;
}
