#
# OpenSSL configuration file.
#

[ req ]
distinguished_name	= req_distinguished_name
prompt			= no
req_extensions		= v3_req

[ req_distinguished_name ]
0.organizationName	= Rudiments
organizationalUnitName	= Rudiments Client Department
emailAddress		= root@client.localdomain
localityName		= Atlanta
stateOrProvinceName	= Georgia
countryName		= US
commonName		= client.localdomain

[ v3_req ]
subjectAltName		= @alt_names

[ alt_names ]
DNS.1			= client.localdomain
DNS.2			= localdomain
