Source: librudiments
Section: libs
Priority: optional
Maintainer: Florian M. Weps <fweps@greenmail.ch>
Build-Depends: debhelper, g++-3.0
Standards-Version: 3.5.6

Package: librudiments-0.25-1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Suggests: librudiments-doc
Description: C++ class library providing base classes
 Rudiments is a C++ class library providing base classes for things
 such as daemons, clients and servers, and wrapper classes for C API's
 such as regular expressions, semaphores and signal handling.
 .
 Homepage: http://www.firstworks.com/rudiments.html
 .
 This package contains the dynamic library.

Package: librudiments-0.25-1-dev
Section: devel
Architecture: any
Depends: ${shlibs:Depends}, librudiments-0.25-1
Provides: librudiments-dev
Conflicts: librudiments-dev
Suggests: librudiments-doc
Description: C++ class library providing base classes
 Rudiments is a C++ class library providing base classes for things
 such as daemons, clients and servers, and wrapper classes for C API's
 such as regular expressions, semaphores and signal handling.
 .
 Homepage: http://www.firstworks.com/rudiments.html
 .
 This package contains the header files, profiling, and static library.
 
Package: librudiments-0.25-1-doc
Section: doc
Architecture: all
Suggests: librudiments
Description: C++ class library providing base classes
 Rudiments is a C++ class library providing base classes for things
 such as daemons, clients and servers, and wrapper classes for C API's
 such as regular expressions, semaphores and signal handling.
 .
 This is available online at: http://www.firstworks.com/rudiments.html
