#!/usr/bin/make -f
# debian/rules for librudiments
# This file is public domain software
# Florian M. Weps <fweps@greenmail.ch>

# Uncomment this to turn on verbose mode. 
# export DH_VERBOSE=1

# This is the debhelper compatibility version to use.
export DH_COMPAT=3

# Use g++ 3.0
export CXX=g++-3.0

pkg=librudiments-0.25-1
pkgdoc=$(pkg)-doc
pkgdev=$(pkg)-dev

PREFIX=/usr
FILES_TO_CLEAN=config.cache \
               config.status \
               config.log \
               config.h \
               config.mk \
               $(pkg).spec \
               rudiments.spec.in \
               rudiments.spec

build: build-stamp
build-stamp:
	dh_testdir

#	autoconf ./configure.in > configure 2> /dev/null
#	chmod 755 ./configure
	./configure --prefix=$(PREFIX) --with-system-libtool
	$(MAKE)

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp 

	-$(MAKE) clean

	dh_clean $(FILES_TO_CLEAN)

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	$(MAKE) prefix=`pwd`/debian/tmp/usr docdir=`pwd`/debian/tmp/usr/share/doc/$(pkg)/html install

	dh_movefiles

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir -i
	dh_testroot -i
	dh_installdocs -i
	dh_installexamples -i
#	dh_installman -i
	dh_installchangelogs -i
	dh_link -i
	dh_compress -i
	dh_fixperms -i
	dh_installdeb -i
#	dh_perl -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir -a
	dh_testroot -a
	dh_installdocs -a
	rm -r `pwd`/debian/$(pkgdev)/usr/share/doc/$(pkgdev)
	ln -s $(pkg) `pwd`/debian/$(pkgdev)/usr/share/doc/$(pkgdev)
	dh_installexamples -a
#	dh_installman -a
	dh_installchangelogs -a
	dh_strip -a
	dh_link -a
	dh_compress -a
	dh_fixperms -a
	dh_makeshlibs -a -v -V
	dh_installdeb -a
	dh_shlibdeps -a
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
